@import "./variables.scss";

@mixin titles($fontSizeMultiply: 1) {
  font-family: $RobotSlab;
  font-size: calc($large-font-size * $fontSizeMultiply);
}

@mixin skillBar($width: 100%, $bg-color: #000) {
  text-align: right;
  padding-right: 0.5rem;
  padding-top: 10px;
  padding-bottom: 10px;

  width: $width;
  background-color: $bg-color;
}

body {
  margin: 0;
  background: $bg;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 1rem;

  gap: 1rem;

  color: #FCFCFC;

  @media (min-width: $breakpoint-md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);

    align-items: normal;
    gap: .5rem;

    height:auto;
  }

  & > div {
    display: flex;
  }

  &__title {
    @include titles(2);

    color: $font;

    @media (min-width: $breakpoint-md) {
      grid-column: 1 / 4;
      grid-row: 1;

      width: 100%;
      height: auto;

      text-align: center;
      justify-content: center;
    }
  }

  &__category {
    flex-direction: column;
    gap: 1rem;

    border: solid $details 0.2rem;
    width: calc(100% - 1.2rem);

    align-items: center;
    justify-content: center;

    background: $primary;

    font-family: $RobotSlab;

    padding: 1rem;

    @media (min-width: $breakpoint-md) {
      grid-row: 2;

      width: calc(100% - 3rem);
      height:max-content;

      justify-content:flex-start;
    }

    & > p {
      display: flex;
      margin: 0;

      text-align: center
    }

    &__titleCategory {
      @include titles();
    }

    &__container {
      &100 {
        width: 100%;
        background-color: $loadingBarBackground;
        & > div {
          @include skillBar(100%, $loadingBarColor);
        }
      }
      &90 {
        width: 100%;
        background-color: $loadingBarBackground;
        & > div {
          @include skillBar(90%, $loadingBarColor);
        }
      }
      &80 {
        width: 100%;
        background-color: $loadingBarBackground;
        & > div {
          @include skillBar(80%, $loadingBarColor);
        }
      }
      &70 {
        width: 100%;
        background-color: $loadingBarBackground;
        & > div {
          @include skillBar(70%, $loadingBarColor);
        }
      }
      &60 {
        width: 100%;
        background-color: $loadingBarBackground;
        & > div {
          @include skillBar(60%, $loadingBarColor);
        }
      }
      &50 {
        width: 100%;
        background-color: $loadingBarBackground;
        & > div {
          @include skillBar(50%, $loadingBarColor);
        }
      }
      &40 {
        width: 100%;
        background-color: $loadingBarBackground;
        & > div {
          @include skillBar(40%, $loadingBarColor);
        }
      }
      &30 {
        width: 100%;
        background-color: $loadingBarBackground;
        & > div {
          @include skillBar(30%, $loadingBarColor);
        }
      }
      &20 {
        width: 100%;
        background-color: $loadingBarBackground;
        & > div {
          @include skillBar(20%, $loadingBarColor);
        }
      }
      &10 {
        width: 100%;
        background-color: $loadingBarBackground;
        & > div {
          @include skillBar(10%, $loadingBarColor);
        }
      }
    }
  }
}
