@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

$RobotSlab: "Lemonada", cursive;
$LogoFont: "Nunito", sans-serif;

$font: #D48032;
$witheFont: #FCFCFCFC;
$bg: #EDBAA6;
$secondary: #CA6166;
$primary: #CA6166;
$details: #9d2053;

$loadingBarBackground: #111111;
$loadingBarColor: #D48032;

$breakpoint-md: 800px;

$large-font-size: 32px;
$medium-font-size: 16px;
$small-font-size: 6px;
