@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

$RobotSlab: "Roboto Slab", serif;
$LogoFont: "Oswald", sans-serif;

$font: #111625;
$bg: #341931;
$secondary: #571b3c;
$primary: #7a1e48;
$details: #9d2053;

$breakpoint-md: 800px;

$large-font-size: 32px;
$medium-font-size: 16px;
$small-font-size: 6px;
