@import "./variables.scss";

body{
    margin: 0;
}

.workExperiences{
    min-height: 100vh;
    font-family: $RobotSlab;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    background: $bg;

    &__title{
        display: flex;
        font-size: xx-large;
        padding: .5rem;
        margin: .5rem;
    }

    &__itemList{
        border: 3px solid $details;
        padding: .5rem;
        margin: .5rem;
    }
}